<!DOCTYPE html>
<html>
    <head>
        <title>Home paage</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body >
      
        <header>
            <nav>
              <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="main.html">Predict</a></li>
              </ul>
            </nav>
          </header>
          <br>
          <br>
          <center>
            <h1>DESCRIPTION</h1><br>
            <br>
            <br>
            <p>The mani purpose of the Durg Classification system is to predict the suitable durg type
               of patients based on their characteristics. Drug names are confidential. So, it is replaced 
               as DrugX, DrugY, DrugA, DrugB and DrugC. These drugs are used as a medication for the patients 
               based on their age, sex, Total_Bilirubin, Total_Protiens and Albumin_and_Globulin_Ratio on blood.
            </p><br><br>
           <a href="main.html"><button type="submit">Predict</button>
          </center>
         
    </body>
</html>